<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Решетки | Hot Steel</title>

    <!--Bootstrap Styles-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!--End of Bootstrap Styles-->

    <!--Custom Styles-->
    <link rel="stylesheet" href="./css/descriptionPages.css" />
    <!--End of Custom Styles-->

    <!--Favicon-->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <!--End of Favicon-->

    <!--Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap"
      rel="stylesheet"
    />
    <!--End of Fonts-->
  </head>
  <body>
    <!-- Navbar -->
    <div class="fluid-container sticky-top">
      <nav class="navbar">
        <span class="navbar-brand mx-auto align-middle">Решетки</span>
      </nav>
    </div>
    <!-- End of Navbar -->

    <!-- Main Content -->
    <div class="fluid-container">
      <div class="row">
        <div class="col-lg-7 text-justify">
          <h3>О решетках</h3>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            tristique tempor lectus, mollis tempus mi ultricies sit amet.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia curae; Proin a semper neque. Donec est lacus,
            placerat scelerisque tellus nec, consequat commodo sapien. Praesent
            dignissim rhoncus nulla sed euismod. Integer vehicula porta
            volutpat. Suspendisse convallis ultricies felis vel tempus. Nulla
            semper nisi id ligula consectetur suscipit. Vivamus vel molestie
            dolor. Sed rutrum diam a dolor tempus hendrerit. Morbi dui odio,
            facilisis nec fermentum sit amet, porttitor sit amet nulla. Aliquam
            placerat felis ac lacus finibus, vitae semper eros scelerisque.
            Suspendisse scelerisque id enim sit amet sagittis. Etiam nec risus
            et quam fermentum dapibus vitae egestas nisl. Suspendisse in enim
            eleifend nibh dignissim aliquam quis vel quam. Etiam vel accumsan
            nisi. Morbi congue nisi et pellentesque auctor. Pellentesque ut
            pellentesque velit. Integer sed nulla enim. Proin vel rhoncus velit.
            Donec venenatis aliquet metus ac tempor. Sed eu lectus id urna porta
            aliquet sit amet ac ex. Sed eleifend aliquet neque sollicitudin
            molestie. Ut sit amet elit arcu. Mauris efficitur at ex quis
            interdum. Pellentesque augue metus, consequat nec massa id, vehicula
            varius mi. In pretium orci et lectus vehicula, a gravida velit
            malesuada. Pellentesque pretium rutrum massa, id pretium tortor
            tempor quis. Proin ut ipsum eget mi gravida sodales ut et justo.
            Quisque vulputate cursus vestibulum. Praesent vehicula consequat
            est, ut euismod metus interdum id. Integer posuere ante ac lectus
            placerat, fringilla ornare nisl imperdiet. Donec ac orci in mauris
            volutpat ullamcorper eget sit amet nisl. Maecenas eu magna at leo
            luctus dapibus. Sed tincidunt sodales purus sit amet lobortis. Fusce
            lacinia lacus non nibh iaculis tincidunt. Nunc suscipit sodales
            consectetur. Mauris lobortis aliquet ex, sodales imperdiet mi
            tincidunt id. Cras ac aliquam magna, vitae mollis lacus. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia.
          </p>
          <h3>Виды решеток</h3>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            tristique tempor lectus, mollis tempus mi ultricies sit amet.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia curae; Proin a semper neque. Donec est lacus,
            placerat scelerisque tellus nec, consequat commodo sapien. Praesent
            dignissim rhoncus nulla sed euismod. Integer vehicula porta
            volutpat. Suspendisse convallis ultricies felis vel tempus. Nulla
            semper nisi id ligula consectetur suscipit. Vivamus vel molestie
            dolor. Sed rutrum diam a dolor tempus hendrerit. Morbi dui odio,
            facilisis nec fermentum sit amet, porttitor sit amet nulla. Aliquam
            placerat felis ac lacus finibus, vitae semper eros scelerisque.
            Suspendisse scelerisque id enim sit amet sagittis. Etiam nec risus
            et quam fermentum dapibus vitae egestas nisl. Suspendisse in enim
            eleifend nibh dignissim aliquam quis vel quam. Etiam vel accumsan
            nisi. Morbi congue nisi et pellentesque auctor. Pellentesque ut
            pellentesque velit. Integer sed nulla enim. Proin vel rhoncus velit.
            Donec venenatis aliquet metus ac tempor. Sed eu lectus id urna porta
            aliquet sit amet ac ex. Sed eleifend aliquet neque sollicitudin
            molestie. Ut sit amet elit arcu. Mauris efficitur at ex quis
            interdum. Pellentesque augue metus, consequat nec massa id, vehicula
            varius mi. In pretium orci et lectus vehicula, a gravida velit
            malesuada. Pellentesque pretium rutrum massa, id pretium tortor
            tempor quis. Proin ut ipsum eget mi gravida sodales ut et justo.
            Quisque vulputate cursus vestibulum. Praesent vehicula consequat
            est, ut euismod metus interdum id. Integer posuere ante ac lectus
            placerat, fringilla ornare nisl imperdiet. Donec ac orci in mauris
            volutpat ullamcorper eget sit amet nisl. Maecenas eu magna at leo
            luctus dapibus. Sed tincidunt sodales purus sit amet lobortis. Fusce
            lacinia lacus non nibh iaculis tincidunt. Nunc suscipit sodales
            consectetur. Mauris lobortis aliquet ex, sodales imperdiet mi
            tincidunt id. Cras ac aliquam magna, vitae mollis lacus. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia.
          </p>
        </div>
        <div class="col-lg-5 text-center mt-3 d-none d-lg-block">
          <img class="img-fluid" src="./images/Awnings/7.JPG" alt="" />
        </div>
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Gallery Setup-->

    <div class="fluid-container mx-3">
      <h3>Галерея</h3>
      <hr />
    </div>

    <!-- Gallery -->
    <div
      class="row gallery-wrapper mx-2"
      id="gallery"
      data-toggle="modal"
      data-target="#modal"
    >
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/1.jpg"
          alt="First slide"
          data-target="#carouselPhoto"
          data-slide-to="0"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/2.jpg"
          alt="Second slide"
          data-target="#carouselPhoto"
          data-slide-to="1"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/3.jpg"
          alt="Third slide"
          data-target="#carouselPhoto"
          data-slide-to="2"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/4.jpg"
          alt="Forth slide"
          data-target="#carouselPhoto"
          data-slide-to="3"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/5.jpg"
          alt="Fifth slide"
          data-target="#carouselPhoto"
          data-slide-to="4"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/6.jpg"
          alt="Sixth slide"
          data-target="#carouselPhoto"
          data-slide-to="5"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/7.jpg"
          alt="Seventh slide"
          data-target="#carouselPhoto"
          data-slide-to="6"
        />
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <img
          class="w-100"
          src="./images/Awnings/8.jpg"
          alt="Eighth slide"
          data-target="#carouselPhoto"
          data-slide-to="7"
        />
      </div>
    </div>

    <!-- End of Gallery-->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="carouselPhoto" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li
                  data-target="#carouselPhoto"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#carouselPhoto" data-slide-to="1"></li>
                <li data-target="#carouselPhoto" data-slide-to="2"></li>
                <li data-target="#carouselPhoto" data-slide-to="3"></li>
                <li data-target="#carouselPhoto" data-slide-to="4"></li>
                <li data-target="#carouselPhoto" data-slide-to="5"></li>
                <li data-target="#carouselPhoto" data-slide-to="6"></li>
                <li data-target="#carouselPhoto" data-slide-to="7"></li>
                <li data-target="#carouselPhoto" data-slide-to="8"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/1.jpg"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/2.jpg"
                    alt="Second slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/3.jpg"
                    alt="Third slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/4.jpg"
                    alt="Fourth slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/5.jpg"
                    alt="Fourth slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/6.jpg"
                    alt="Fourth slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/7.jpg"
                    alt="Fourth slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block w-100"
                    src="./images/Awnings/8.jpg"
                    alt="Fourth slide"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselPhoto"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselPhoto"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Modal -->
    <!-- End of Gallery Setup -->

    <!-- Footer Setup -->
    <footer class="mt-5">
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12">
            <h3>Hot Steel</h3>
            <hr class="light" />
            <p>+380962040989</p>
            <p>ababiy245@gmail.com</p>
            <hr class="light" />
            <h5>&copy; Hot Steel</h5>
            <hr class="light" />
          </div>
        </div>
      </div>
    </footer>
    <!-- End of Footer Setup -->

    <!-- Scripts -->
    <script
      src="https://kit.fontawesome.com/e307e9c374.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./javascript/content-page.js"></script>
  </body>
</html>
